@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-neutral-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Y2K风格增强 */
video {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
